body {
    background-color: black;
}
.canvas{
    background-color: black;
    border: 4px solid white;
}

.scoreBoard {
    height: 200px;
    color: white;
}
.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.center {
    justify-content: center;
}

.score{
    width: 100%;
    font-size: 72px;
    margin: 1rem 0;
}

.scoreLabel{
    font-size: 20px;
    margin: 0;
}